*{
  margin: 0;
  padding:0;
}
.App {
  text-align: center;
  margin-top: 50px;
}

.card__todo {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card__todo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}